//header stuff goes here

.Page-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 1;

	@media (max-width: 1200px) {
		justify-content: center;
	}

	@media (max-width: 1025px) {
		flex-direction: column;
	}
}

.mainNav {
	display: flex;
	justify-content: space-around;
	width: calc(100% - 175px);
	min-width: 910px;
    align-items: center;
	transition: transform .25s ease-in-out;
	position: relative;

	a {
		display: inline-block;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
		color: $strongGray;
	}

	.navItem {

		.subnav {
			display: none;
			position: absolute;
			background-color: #fff;
			padding: 20px;
			border-bottom: solid 1px;
			border-right: solid 1px;
			border-left: solid 1px;

			a {
				font-size: 14px;
				margin-right: 10px;
				margin-bottom: 20px;
				display: block;

				&:last-child {
					margin-bottom: 5px;
				}
			}
		}

		&:hover {
			.subnav {
				display: block;
				padding: 35px 0 20px 20px;
			}
		}
	}

	@media (max-width: 1200px) {
		margin-top: 10px;
		width: 100%;
	}

	@media (max-width: 1025px) {
		align-items: baseline;
		width: 225px;
		flex-direction: column;
		padding-left: 15px;
		min-width: 225px;
		position: fixed;
		background-color: #fafafa;
		left: 0;
		top: 0;
		bottom: 0;
		justify-content: initial;
		margin-top: 0;
		padding-top: 15px;
		border-right: solid 2px black;
		will-change: transform;
		z-index: 1;

		a {
			margin-bottom: 20px;
		}

		&._JS_menuIsClosed {
			transform: translateX(-100%);
		}
	}
}

.menuButton {
	display: none;

	@media (max-width: 1025px) {
		display: block;
		appearance: none;
		background-color: transparent;
		border: none;
		font-weight: bold;
		text-decoration: underline;
		margin-top: 15px;
		align-self: flex-end;
	}
}

.menuClose {
	display: none;

	@media (max-width: 1025pxpx) {
		display: block;
		position: absolute;
		right: 15px;
		border: 1px solid;
		border-radius: 50%;
		width: 20px;
		height: 19px;
		text-align: center;
		background-color: black;
		color: white;
		cursor: pointer;
	}
}

.mainNav-search {

	.screen-reader-text {
		visibility: hidden;
		position: absolute;
	}

	input[type=submit] {
		appearance: none;
		background-color: transparent;
		border: none;
		color: $strongGray;
		font-size: 16px;
		font-weight: bold;
	}

	input[type=search] {
		background-color: #dbdbdb;
		border: 0;
		height: 25px;
		width: 95px;
	}
}