.hero {
	width: 100%;
	margin: 0 auto;
	position: relative;
	color: white;
	letter-spacing: 1px;
	text-shadow: 4px 3px 4px black;

	img {
		max-width: 100%;
		width: auto;
	}

	.heroText {
		text-align: center;
		display: inline-block;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding: 2.15em 0;

		&.home {
			padding: 7em 0;
		}
	}

	.primary {
		font-size: 75px;
		margin-top: 0;
	}

	.secondary {
		font-size: 55px;
		margin-top: 0;
		margin-bottom: 0;
	}

	@media (max-width: 1015px) {

		margin-top: 15px;

		.heroText {
			padding: 3em 0;

			&.home {
				padding: 5em 0;
			}
		}

		.primary {
			font-size: 35px;
		}

		.secondary {
			font-size: 25px;
		}
	}
}

.hero-generalPage {
	position: relative;
}