//layout stuff goes here

html {
	box-sizing: border-box;
	font-family: arial;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.scaffold {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}