//layout stuff goes here

html {
	box-sizing: border-box;
	font-family: arial;
}

body {
	margin: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.scaffold {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 50px;

	@media (max-width: 1200px) {
		padding: 0 15px;
	}
}

.alignright {
	float: right;
}

.bolded {
	font-weight: bold;
}

.tac {
	text-align: center;
}